*{
    font-family: arial;
    border: 0;
}
.navbar{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0;
    margin-left: 20px;
}
.logo{
width: 160px;
height: 15px;
margin-bottom: 20px;
}
.select{
    align-items: center;
    border-style: 0;
    margin-left: 70px;
    display: flex;
    justify-content: space-between;
    color: #242424;
    font-size: 18px;
}
.h9{
    display: flex;
    margin-left: 10px;
}
.h8{
    display: flex;
margin-left: 30px;
color: #0d1fa1;
}
.h7{
margin-left: 30px;
}
.h6{
    display: flex;
    margin-left: 40px;
}
.h5{
    display: flex;
  margin-left: 30px;
}
.h4{
    margin-left: 30px;
}
button{
    display: flex;
    justify-content: space-evenly;
    margin-left: 25px;
    background-color: blue;
    color: white;
    height: 28px;
    width: 85px;
    border-radius:3px;
    align-items: center;
}
.heading{
    margin-top: 50px;
    color: #00033d;
    font-size: 20px;
    margin-left: 100px;
}
.dashboard{
    color: blue;
    align-items: center;

}
.p1{
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 20px;
    color: #242424;
}
.p2{
    margin-bottom: 28px;
    margin-left: 20px;
    color: #242424;
    font-size: 20px;
}
.p3{
    margin-bottom: 50px;
    margin-left: 20px;
    color: #242424;
    font-size: 20px;
}
.para{
    font-size: 20px;
}
button{
  width: 150px;
  border-radius: 2px;
}
.bubble{
    display: inline-flex;
    margin-bottom: 100%;
    margin-left: 30px;
}
.class{
    align-items: center;
    justify-content: space-evenly;
    margin-left: 10px;
}
.b2{
   padding-top: 20px;
    height: 50px;
}
.panel{
    text-align: center;
    height: 400px;
    width: 1150px;
    background-color: #f2f5f9;;
    margin-right: 20px;
    padding-top: 80px;
}
.img{
    margin-left: 40px;
    width: 100%;
    display: flex;
    height: 20px;
    width: 5px;
    margin-top:150px;
    
}
.text-wrapper{
    color: blue;
    font-size: 26px;
}
.loreal{
    margin-bottom: 30px;
    height: 2px;
    width: 1px;
}
.hp{
    margin-left: 240px;
    width: 4px;
    height: 10px;
    margin-bottom: 7px;
    margin-right: 160px;
}
.l{
   height: 1px;
   width: 1px;
   margin-right: 100px;
   margin-left: 50px;
   margin-bottom: 30px;
}
.re{
  height: 1px;
  width: 1px;
  margin-left: 100px;
}
.hu{
    height: 8px;
    width: 20px;
    margin-top: 100px;
    margin-left: 250px;
}
.ze{
    margin-bottom: 100%;
    margin-left: 200px;
    justify-content: space-evenly;
    display: inline-flex;
}
.proto{
    margin-top: 100px;
    margin-left: 50px;
    display: flex;
}
.typ{
    margin-top: 10px;
    display: flex;
}
.res{
    margin-top: 10px;
    font-size: 20px;
    margin-left: 30px;
    display: inline-flex;
}
.we{
    margin-left: 30px;
    margin-bottom: 50px;
    display: flex;
}
.launch{
    display: flex;
    justify-content: space-evenly;
    margin-left: 190px;
  margin-top: 20px;
}
.iterate{
    margin-left: 190px;
    margin-top: 10px;
    display: flex;
}
.just{
    margin-left: 10px;
}
.scale{
    margin-left: 200px;
    margin-top: 12px;
    display: flex;
}
.tr{
    margin-top: 10px;
}
.desk{
    text-align: center;
    align-items: center;
    margin-top: 80px;
    font-size: 30px;
    margin-top: 300px;
}